*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}


header{
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #ADD8E6;
  color: rgb(0, 0, 0);
  width: 100%;
  min-height: 70px; /* todo provvisorio*/
  padding-top: 10px;
  padding-bottom: 10px;
}

main{
  background-color: rgba(255, 230, 0, 0.296);
  width: 100%;
  min-height: 70px; /* todo provvisorio*/
}

footer{
  display: flex;
  justify-content: center;
  align-items: end;
  
  width: 100%;
  background-color: #23272A;
  min-height: 70px; /* todo provvisorio*/ 
  padding-top: 20px;
  padding-bottom: 0;

}



/* header */

.container_header{
  border: black 1px dashed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  /* padding: 10px; */
  background-color: #DDA820;
  width: 60%;
  min-height: 40px;


  
}

#logo_header{
  border: black 1px dashed;
  background-color: #DDA820;

  width: 20%;
  min-height: 40px;
  padding: 10px;

  /* padding-top: 10px;
  padding-bottom: 10px; */


}

header nav{
  border: black 1px dashed;
  background-color: #DDA820;

  min-width: 60%;
  min-height: 40px;
  padding: 10px;
  /* padding-top: 10px;
  padding-bottom: 10px; */




}

nav ul{
  list-style: none;
  display: flex;
  justify-content: center;


}

nav ul li {
  margin-right: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

nav ul li:last-child {
  margin-right: 0px;
}


nav ul li a{
  text-decoration: none;
  color: rgb(0, 0, 0);

}

nav ul li a:hover{
  text-decoration: underline;
}


header .login{
  border: black 1px dashed;
  background-color: #DDA820;
  text-decoration: none;
  color: rgb(0, 0, 0);

  /* padding-top: 10px;
  padding-bottom: 10px; */
  padding: 10px;
  width: 20%;
  min-height: 40px;
  text-align: end;


}










/* main */

/* .standard_container_box{
  border: black 1px dashed;
  width: 50%;
  min-height: 300px;
  background-color: yellowgreen;
} */



/* section_1 */
.section_1{
  background-color: #00008B;
  display: flex;
  justify-content: center;
  align-items: center;
  /* ! è la stessa cosa per il padding solo che utilizzando padding-left: auto; padding-right: auto;  aumenta lo spazio laterale di poco   */
  /* padding: 40px;
  padding-left: auto;
  padding-right: auto; */
  padding-top: 40px;
  padding-bottom: 40px;

}

.box_section1{
  background-color: #EE82EE;
  border: black 1px dashed;
  width: 50%;
  min-height: 300px;


}




/* section_2 */

.section_2{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #ffffff;
  
  
}

.container_box_section2{
  display: flex;
  justify-content: center;
  align-items: center;



  /* background-color: rgb(255, 51, 0); */ /*solo per vedere e comprendere le dimensioni del container*/
  border: black 1px dashed;
  width: 60%;
  /* min-height: 300px; */


}

.box1_section2{
  background-color: #1E90FF;
  border: black 1px dashed;
  width: 60%;
  min-height: 400px;
  
  
}


.box2_section2{
  background-color: #FFC0CB;
  border: black 1px dashed;
  width: 40%;
  min-height: 400px;


}






/* section_3 */
.section_3{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #D3D3D3;

}

.container_box_section3{
  display: flex;
  justify-content: center;
  align-items: center;

  /* background-color: rgb(255, 51, 0); */ /*solo per vedere e comprendere le dimensioni del container*/
  border: black 1px dashed;
  width: 60%;
  /* min-height: 300px; */


}

.box1_section3{
  background-color: #FFC0CB;
  border: black 1px dashed;
  width: 40%;
  min-height: 400px;
  
  
}


.box2_section3{
  background-color: #1E90FF;
  border: black 1px dashed;
  width: 60%;
  min-height: 400px;


}










/* section_4 */
.section_4{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #ffffff;
  
  
}

.container_box_section4{
  display: flex;
  justify-content: center;
  align-items: center;



  /* background-color: rgb(255, 51, 0); */ /*solo per vedere e comprendere le dimensioni del container*/
  border: black 1px dashed;
  width: 60%;
  /* min-height: 300px; */


}

.box1_section4{
  background-color: #1E90FF;
  border: black 1px dashed;
  width: 60%;
  min-height: 400px;
  
  
}


.box2_section4{
  background-color: #FFC0CB;
  border: black 1px dashed;
  width: 40%;
  min-height: 400px;


}





/* section_5 */
.section_5{
  background-color: #D3D3D3;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}


.box_section5{

  background-color: #228B22;
  width: 60%;
  min-height: 700px;
  border: black 1px dashed;


}






/* section_6 */
.section_6{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 40px;
  background-color: #23272A;
  width: 100%;

  border-bottom: white 1px solid;
}

.container_box_section6{
  display: flex;
  justify-content: center;
  align-items: center;



  /* background-color: rgb(255, 51, 0); */ /*solo per vedere e comprendere le dimensioni del container*/
  border: black 1px dashed;
  width: 60%;
  /* min-height: 300px; */


}

.box1_section6{
  background-color: #F08080;
  border: black 1px dashed;
  width: 40%;
  min-height: 400px;
  
}


.box2_section6{
  background-color: #20B2AA;
  border: rgb(255, 255, 255) 1px dashed;
  width: 15%;
  min-height: 400px;

}



/* footer */
.container_footer{
  border: black 1px dashed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  
  background-color: #7fffd4;
  width: 60%;
  min-height: 40px;
  padding: 20px 0;
}

#logo_footer{
  background-color: #ffb6c1;
  border: black 1px dashed;
  padding: 5px;
  
  
}

footer .button{
  background-color: #ffb6c1;
  border: black 1px dashed;
  text-decoration: none;
  color: rgb(0, 0, 0);
  padding: 5px;
  
}







